
@{
    ViewBag.Title = "Index";
}

<h3>Project Summary</h3>
<div class="row">
    <div class="col-sm-4" style="background-color:antiquewhite">
        <div class="card">
            <div class="card-body">
                <ul>
                    <li><h5 class="card-title">Student Management</h5></li>
                    <li><p class="card-text">Student Crud with View Model</p></li>
                    <li><p class="card-text">Course Management Crud</p></li>
                    <li><p class="card-text">Show Student List with Ajax</p></li>
                </ul>               
            </div>
        </div>
    </div>
   
    <div class="col-sm-4" style="background-color:palegreen">
        <div class="card">
            <div class="card-body">
                <ul>
                    <li><h5 class="card-title">User Login Crud</h5></li>
                    <li><p class="card-text">Account User Crud with model</p></li>
                    <li> <p class="card-text">Create Role</p></li>
                    <li><p class="card-text">Assign Role</p></li>
                </ul>               
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="background-color:powderblue">
        <div class="card">
            <div class="card-body">
                <ul>
                    <li><h5 class="card-title"> Use Data Annotation On Student model</h5></li>
                    <li><p class="card-text">Role wise user login</p></li>
                    <li><p class="card-text">Use interfaces and Repository</p></li>
                    <li><p class="card-text"></p></li>
                </ul>               
            </div>
        </div>
    </div>
</div>

